/* You can add global styles to this file, and also import other style files */
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    
    background: rgb(11, 11, 19);
    margin: 20px;
    color: #d6d6d6;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: rgb(194, 192, 192);
    border-radius: 5px;
    border: 0px;
    color: rgb(12, 11, 11);
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 input{
  display: block;
  margin: 5px;
 }